numpy >= 1.23.0, < 2.0.0
pandas >= 1.5.0, < 3.0.0
scipy >= 1.9.0, < 2.0.0
matplotlib >= 3.6.0, < 4.0.0
seaborn >= 0.12.0
scikit-learn >= 1.2.0, < 1.6.0
xgboost >= 1.7.0
jupyter >= 1.0.0
dvc == 3.63.0
cookiecutter-data-science == 2.3.0
pytest == 8.4.2
fastapi == 0.116.1
mlflow ==3.3.2
evidently == 0.7.14
sdv == 1.26.0
deepchecks == 0.19.1
onnxruntime ==1.22.1
dvc_gdrive == 3.0.1
xgboost==3.0.5
dagshub
pytest
pytest-mock