numpy == 2.3.3
pandas == 2.3.2 
scipy == 1.16.2
matplotlib == 3.10.6
seaborn == 0.13.2
scikit-learn == 1.7.2
dvc == 3.63.0
cookiecutter-data-science == 2.3.0
pytest == 8.4.2
fastapi == 0.116.1
mlflow ==3.3.2
evidently == 0.7.14
sdv == 1.26.0
deepchecks == 0.19.1
onnxruntime ==1.22.1
dvc_gdrive == 3.0.1